.log-emergency {
    background-color: #B71C1C;
}

.log-alert {
    background-color: #D32F2F;
}

.log-critical {
    background-color: #F44336;
}

.log-error {
    background-color: #FF5722;
}

.log-warning {
    background-color: #FF9100;
}

.log-notice {
    background-color: #4CAF50;
}

.log-info {
    background-color: #1976D2;
}

.log-debug {
    background-color: #90CAF9;
}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    /*
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
    width: 603px;
    height: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.jcarousel img {
    max-height: 300px;
}

.jcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control {
    padding-top: 15px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
    /*position: absolute;*/
    /*top: 35px;*/
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
.chat_container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
    display: initial;
}
.people-list {
    width: 260px;
    float: left;
}
.people-list .search {
    padding: 20px;
}
.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
}
.people-list .fa-search {
    position: relative;
    left: -25px;
}
.people-list ul {
    padding: 20px;
    height: 770px;
}
.people-list ul li {
    padding-bottom: 20px;
}
.people-list img {
    float: left;
}
.people-list .about {
    float: left;
    margin-top: 8px;
}
.people-list .about {
    padding-left: 8px;
}
.people-list .status {
    color: #92959e;
}
.chat {
    width: 100%;
    float: inherit;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat .chat-header img {
    float: left;
}
.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}
.chat .chat-header .chat-num-messages {
    color: #92959e;
}
.chat .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
}
.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #86bb71;
}
.chat .chat-history .other-message {
    background: #94c2ed;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.chat .chat-message button {
    float: right;
    color: #94c2ed;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #f2f5f8;
}
.chat .chat-message button:hover {
    color: #75b1e8;
}
.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}
.online {
    color: #86bb71;
}
.offline {
    color: #e38968;
}
.me {
    color: #94c2ed;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
ul {
    list-style-type: none;
}